<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981309715127-n0tk61o1m1r8jcm7a8si8qjd8583ot6e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981309715127-n0tk61o1m1r8jcm7a8si8qjd8583ot6e</string>
	<key>API_KEY</key>
	<string>AIzaSyAU7ejlET7tZesVwfBmEmvSJdJf7r1C9B4</string>
	<key>GCM_SENDER_ID</key>
	<string>981309715127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.josip.pokemonMap.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-pokemap</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-pokemap.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981309715127:ios:ff000256a13d8880e55332</string>
</dict>
</plist>